* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    border: solid red 1px;
}

:root {
    --color-red: #E3646E;
    --color-purple: #BB72E9;
    --color-blue: #3996DB;
    --color-green: #82BC4F;
    --color-yellow: #EABD5F;

    --color-gray-100: #0D0E11;
    --color-gray-200: #16181D;
    --color-gray-300: #292C34;
    --color-gray-400: #878EA1;
    --color-gray-500: #C0C4CE;
    --color-gray-600: #E2E4E9;


    --Font-Family-Asap: 'Asap', 'Helvetica', 'sans-serif';
    --Font-Family-Inconsolata: 'Inconsolata', 'Helvetica', 'sans-serif';
    --Font-Family-Maven-Pro: 'Maven Pro', 'Helvetica', 'sans-serif';
    
    --Typo-Title-Lg: 700 56px/120% var(--Font-Family-Asap);
    --Typo-Title-Md: 700 24px/120% var(--Font-Family-Asap);
    --Typo-Title-Sm: 700 16px/120% var(--Font-Family-Asap);

    --Typo-Subtitle: 400 20px/120% var(--Font-Family-Inconsolata);

    --Typo-Text-Md: 400 16px/140% var(--Font-Family-Maven-Pro);
    --Typo-Text-Sm: 400 14px/140% var(--Font-Family-Maven-Pro);
}

body {
    background-color: var(--color-gray-200);
}
p {
    color: var(--color-gray-500);
}

h1 {
    font: var(--Typo-Title-Lg);
}

h2 {
    font: var(--Typo-Title-Md);
}

h3 {
    font: var(--Typo-Title-Sm);
}