header {
    height: 750px;
    background: url('..//assets/images/Background_Intro.png') center / contain;
    display: grid;
    justify-items: center;
    gap: 94px;

    i {
        font-size: 32px;
    }
}

.info-container {
    margin: 120px 163px 0 163px;
    display: grid;
    gap: 80px;
}

.profile {
    display: grid;
    justify-items: center;
    gap: 56px;
    margin: 0 180px;
    div {
        position: relative;
        border: 2px solid var(--color-red);
        border-radius: 50%;
        padding: 4px;
        i {
            font-size: 40px;
            color: var(--color-green);
            position: absolute;
            top: 72px;
            left: 72px;
            -webkit-text-stroke: 2px #000000;
        }

        img {
            width: 96px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
    }
}

.profileDescription p:nth-child(1) {
    font: var(--Typo-Subtitle);
    text-align: center;
}

.profileDescription h1 {
    color: var(--color-gray-600);
    margin-top: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.profileDescription p:nth-child(3) {
    font: var(--Typo-Text-Sm);
    color: var(--color-gray-400);
    text-align: center;
}




.tags-group {
    display: flex;
    margin: 0 143px;
    justify-content: space-between;

    .tag {
        display: flex;
        align-items: center;
        border-radius: 999px;
        background-color: var(--color-gray-300);
        color: var(--color-gray-500);
        font: var(--Typo-Text-Md);
        padding: 8px 16px;
    }
}